@import 'variables';
@import 'nav';
@import 'main';
@import 'discount';
@import 'mixin';
@import 'security';
@import 'lightning';
@import 'subscription';
@import 'global';
@import 'management';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// background: black;
}
